@import "../../styles/globalstyle.scss";

.secondaryHeroSection {
  padding-top: 120px;
  color: #fff;
  padding-bottom: 60px;
  margin: 110px auto 0px;
  background-image: url("../../images/hero.png");
  background-repeat: no-repeat;
  background-position-y: 0px !important;
  background-size: cover;

  @include media(medium-large) {
    margin-top: 65px;
  }

  @include media(small) {
    padding: 55px 1rem 30px 1rem;
  }

  .primaryHeading {
    @include media(small) {
      margin-top: 3rem;
    }
  }

  .extraspacing {
    margin: 4rem 0px;

    @include media(small) {
      margin-top: 0px;
    }
  }
}

.privacypolicy, .termsandconditions{
  .secondaryHeroSection{
    padding-top: 3em;
    .primaryHeading {
      margin: 2em 0;
    }
  }
}
