/* .pricefilter-box{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2.125em 0 0 0;
	position: relative;
  }
  
  .slider {
	position: relative;
	width: 100%;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
	position: absolute;
  }
  
  .slider__track,
  .slider__range {
	border-radius: 3px;
	height: 5px;
  }
  
  .slider__track {
	background-color: #151515;
	border: 1.42207px solid #1F1F1F;
	border-radius: 68.49px;
	width: 100%;
	z-index: 1;
  }
  
  .slider__range {
	background-color: #fba81a;
	z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
	color: #dee2e6;
	font-size: 12px;
	margin-top: 20px;
  }
  
  .slider__left-value {
	left: 6px;
  }
  
  .slider__right-value {
	right: -4px;
  }
  

  .thumb,
  .thumb::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
	pointer-events: none;
	position: absolute;
	height: 0;
	width: 100%;
	outline: none;
  }
  
  .thumb--zindex-3 {
	z-index: 3;
  }
  
  .thumb--zindex-4 {
	z-index: 4;
  }
  
  .thumb--zindex-5 {
	z-index: 5;
  }
  
 
  .thumb::-webkit-slider-thumb {
	background-color: #fba81a;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 1px 1px #1F1F1F;
	cursor: pointer;
	height: 18px;
	width: 18px;
	margin-top: 4px;
	pointer-events: all;
	position: relative;
  }
  

  .thumb::-moz-range-thumb {
	background-color: #fba81a;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 1px 1px #1F1F1F;
	cursor: pointer;
	height: 18px;
	width: 18px;
	margin-top: 4px;
	pointer-events: all;
	position: relative;
  }
  

 */






  
.pricefilter-box{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2.125em 0 0 0;
	position: relative;

    input{

        &.thumb{
                pointer-events: none;
                position: absolute;
                height: 0;
                width: 100%;
                outline: none;
                -webkit-appearance: none;
                
                &.thumb--zindex-3 {
                    z-index: 3;
                  }
                  
                &.thumb--zindex-4 {
                    z-index: 4;
                  }
                  
                &.thumb--zindex-5 {
                    z-index: 5;
                  }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
	                -webkit-tap-highlight-color: transparent;
                  background-color: #fba81a;
                  border: none;
                  border-radius: 50%;
                  box-shadow: 0 0 1px 1px #1F1F1F;
                  cursor: pointer;
                  height: 18px;
                  width: 18px;
                  margin-top: 4px;
                  pointer-events: all;
                  position: relative;
                }

                &::-moz-range-thumb {
                  background-color: #fba81a;
                  border: none;
                  border-radius: 50%;
                  box-shadow: 0 0 1px 1px #1F1F1F;
                  cursor: pointer;
                  height: 18px;
                  width: 18px;
                  margin-top: 4px;
                  pointer-events: all;
                  position: relative;
                  }
        }

        
    }

    .slider {
      position: relative;
      width: 100%;

      .slider__track, .slider__range, .slider__left-value, .slider__right-value{
              position: absolute;
          }

          .slider__track, .slider__range {
              border-radius: 3px;
              height: 5px;
          }

          .slider__range {
              background-color: #fba81a;
              z-index: 2;
          }

          .slider__track {
              background-color: #151515;
              border: 1.42207px solid #1F1F1F;
              border-radius: 68.49px;
              width: 100%;
              z-index: 1;
          }

          .slider__left-value, .slider__right-value{
              color: #dee2e6;
              font-size: 12px;
              margin-top: 20px;
          }

          .slider__left-value {
            left: 6px;
          }
            
          .slider__right-value {
            right: -4px;
          }
    }
  }






