@import "../../styles/config";
.allBlogsPageContent {
    width: 90%;
    margin: 0 auto;
}

.fullWrapper {
    min-height: 80vh;
}

.news__letter_above_lines {
    margin-top: 100px;
}

.pagination__col {
    width: 100%;
}