.primeryDiscription {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 10px;

  @media (max-width: 1400px) {
    font-size: 15px;
  }

  @media (max-width: 1000px) {
    font-size: 12px;
  }

  &Center {
    text-align: center;
  }
}
